.container{
    font-family: Helvetica;
    margin: 0 auto;
    max-width: 1200px;
    padding: 60px 1rem;
    width: 100%;
}
     
.title{
    font-size: 1.5rem; 
    color: #cd3234;
    margin-bottom: 0;
}

.subtitle{
    margin-bottom: 4rem; 
    margin-top: 0;
    font-size: 3rem;
}
  
.category{
    margin-bottom: 4rem;
}
          
.category_title{
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: normal;
    color: #6e4e33;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    margin-right: 2rem;
}

.card-coffee {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    border: 1px solid #110203;
    overflow: hidden;
    cursor: pointer;
    margin: 0;
    padding-bottom: 0;
    max-width: 300px;
    height: max-content;
}


  @media (max-width: 900px){
    .grid {
        grid-template-columns: repeat(2, 1fr);
        margin: 0 1rem;
    }
    .card-coffee {
        max-width: 300px;
        height: max-content;
    }
  }

  @media (max-width: 500px){
    .grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .card-coffee {
        max-width: 250px;
        height: max-content;
    }
  }